<div class="row">
  <div class="medium-12 large-12 columns text-center">
    <h4>Updating...</h4>
  </div>
 </div>
 <div class="row column">
  <hr>
</div>
<div class="row column">
  <p class="lead"><i class="fa fa-cloud-download" aria-hidden="true"></i> Get Link Here !</p>
</div>
<div class="row small-up-1 medium-up-2 large-up-3">
  <%= form_for @link, method: :post, url: getlink_path do |f| %>
    <div style="padding:20px" class="row">
      <div class="small-6 columns">
        <label>
          <%= f.url_field :url, class: "form-control", placeholder: "Enter your link ...", required: true %>
        </label>
      </div>
      <div class="small-6 columns">
        <label>
          <%= select :server, :action, @servers.map{|c| [c.name, c.id]}, {class: 'form-control', required: true } %>
        </label>
      </div>
      <div class="small-6 columns">
        <label><button type="submit" class="button">Search Now!</button></label>
      </div>
    </div>
  <% end %>
</div>
