<div class="row">
  <div class="medium-12 large-12 columns">
    <p>
      <h3>
      CONTACT WITH &nbsp;<%= link_to 'LINKNHANH.INFO', root_path %>

      </h3>
    </p>
    <p>
      Updating...
    </p>
  </div>
 </div>
