<div class="row">
  <div class="medium-9 large-9 columns">
    <video width="100%" controls>
      <source src="<%= @video %>" type="video/mp4">
      <source src="<%= @video %>" type="video/ogg">
    </video>
  </div>
  <div class="medium-3 large-3 columns"></div>
 </div>
