<div class="row">
  <div class="medium-12 large-12 columns">
    <p>
      <h3>
      <%= link_to 'LINKNHANH.INFO', root_path %>
      &nbsp;Websites Support
      </h3>
    </p>
    <h4>We support download for other websites : </h4>
    <p>
      <h6><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook.com</h6>
      <h6><i class="fa fa-youtube-square" aria-hidden="true"></i> Youtube.com</h6>
      <h6><i class="fa fa-vimeo-square" aria-hidden="true"></i> Vimeo.com</h6>
      <h6><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</h6>
      <h6><i class="fa fa-flickr" aria-hidden="true"></i> Flickr</h6>
    </p>
    <h5>JAV Network</h5>
    <h6>JAVHD.COM</h6>
    <h6>AV69.tv</h6>
    <h6>HeyMILF.com</h6>
    <h6>AmateurAV.com</h6>
    <h6>PussyAV.com</h6>
    <h6>PovAv.com</h6>
    <h6>HeyOutdoor.com</h6>
    <h6>LingerieAV.com</h6>
    <h6>HairyAV.com</h6>
    <h6>AVStockings.com</h6>
    <h6>AVAnal.com</h6>
    <h6>AVTits.com</h6>
    <h6>SchoolGirlsHD.com</h6>
    <h6>GangAV.com</h6>
    <h6>Ferame.com</h6>
    <h6>Shiofuky.com</h6>
    <h6>Brazzers.com</h6>
  </div>
 </div>
