<div class="row" style="margin-bottom: 20px">
  <div class="large-8">
    <!-- Start of ouo.io banner code -->
    <a href="http://ouo.io/ref/hWVbMTdK"><img src="http://ouo.io/images/banners/r1.jpg" title="ouo.io - Make short links and earn the biggest money" /></a>
    <!-- End of ouo.io banner code -->
  </div>
  <div class="large-4">
  </div>
</div>
<!--<div class="row" style="margin-bottom: 20px">
  <div class="large-8">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-6797861822972261"
         data-ad-slot="8651322633"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>-->
