.navbar-top-links {
  min-width: 200px;
  position: absolute;
  right: 0;
}
.middle {
  vertical-align: middle !important;
}

ul#side-menu {
  li.active {
    background-color: #E6E6E6 !important;
  }
}

.no-padding {
  padding: 0px !important;
}

.no-padding-left {
  padding-left: 0px !important;
}

.thumb-image {
  width: 50px;
}

.list-message-error {
  list-style-type: none;
}

.margin-bottom-col {
  margin-bottom: 10px;
}

.margin-top-col {
  margin-top: 10px;
}

.padding-right-col {
  padding-right: 10px;
}

pre {
  background-color: #FFF !important;
  border: none !important;
}

img.blog-thumb {
  width: 100px;
}
