<div class="top-bar" id="realEstateMenu">
  <div class="top-bar-left">
    <ul class="menu" data-responsive-menu="accordion">
      <li class="menu-text">
        <a href="<%= root_path%>">
        <i class="fa fa-cloud-download" aria-hidden="true"></i> LINKS4U
        </a>
      </li>
      <li><a href="#">Get Link VIP</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <!--<li><a href="#">My Account</a></li>-->
      <li><a class="button">Login</a></li>
    </ul>
  </div>
</div>
